.fotos__titulo {
  font-size: 10rem;
  font-family: var(--fonte-titulo);
  color: var(--cor-primaria);
  z-index: 2;
}

.fotos__header {
  width: 100%;
  display: flex;
  align-items: center;
}

.fotos__conteudo__esquerdo {
  height: 2px;
  margin-top: 30px;
  background-color: var(--cor-primaria);
  width: 33.3%;
}
.fotos__conteudo__meio {
  display: flex;
  justify-content: center;
  width: 33.3%;
}

.fotos__conteudo__direito {
  height: 2px;
  margin-top: 30px;
  background-color: var(--cor-primaria);
  width: 33.3%;
}

.fotos__conteudo {
  display: flex;
  gap: 2rem;
}

.fotos__conteudo > img {
  height: 500px;
  border-radius: 16px;
}

.fotos__carrossel__container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.carrossel {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1440px) {
  .carrossel {
    width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .carrossel {
    width: 60%;
  }

  .fotos__header {
    flex-direction: column;
  }
  .fotos__conteudo__esquerdo {
    display: none;
  }
  .fotos__conteudo__meio {
    width: 100%;
  }
  .fotos__conteudo__direito {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .carrossel {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .carrossel {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .fotos__titulo {
    font-size: 8rem;
  }
}
