<footer class="contato__container">
  <div class="contato__logo">
    <span class="contato__logo__texto1">Alice</span>
    <span class="contato__logo__texto2">Martins</span>
  </div>
  <div class="contato__redes">
    <div class="contato__icone__texto">
      <i class="bi bi-envelope"></i>
      <span>nathy_nathaliamartins@yahoo.com.br</span>
    </div>
    <div class="contato__icone__texto">
      <i class="bi bi-instagram"></i>
      <span>@alice_olvmartins</span>
    </div>
    <div class="contato__icone__texto">
      <i class="bi bi-whatsapp"></i>
      <span>(11)99699-9464</span>
    </div>
  </div>
</footer>
