.publis__header {
  width: 100%;
  display: flex;
  align-items: center;
}

.publis__titulo {
  width: 40%;
  font-size: 10rem;
  font-family: var(--fonte-titulo);
  color: var(--cor-primaria);
  z-index: 2;
}

.publis__conteudo__direito {
  height: 2px;
  margin-top: 30px;
  background-color: var(--cor-primaria);
  width: 60%;
}

.publis__content__container {
  width: 100%;
  display: flex;
}

.publis__ficha__tecnica__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    > h1 {
      font-family: var(--fonte-titulo);
      color: var(--cor-primaria);
      font-size: 40px;
    }

    > i {
      color: var(--cor-primaria);

      &::before {
        padding: 0px 10px 0 0;
      }
      > span {
        font-family: var(--fonte-primaria);
        color: var(--cor-primaria);
      }
    }
  }
}
.publis__divulgacoes__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  > h1 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    font-size: 40px;
    margin-bottom: 0.5rem;
  }

  .publis__divulgacoes__tipos {
    background-color: var(--cor-terciaria);
    border: 1px solid var(--cor-primaria);
    border-radius: 8px;

    height: 30px;
    max-width: 400px;
    padding: 0 1rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    text-align: center;

    > i {
      color: var(--cor-primaria);
      margin-top: 0.3rem;
      float: left;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }

    > p {
      color: var(--cor-primaria);
      margin-top: 0.3rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .publis__header {
    justify-content: space-between;
  }
  .publis__conteudo__direito {
    width: 50%;
  }
  .publis__divulgacoes__container {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .publis__header {
    flex-direction: column;
  }
  .publis__conteudo__direito {
    width: 100%;
  }
  .publis__content__container {
    margin-top: 3rem;
  }
  .publis__titulo {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .publis__titulo {
    font-size: 6rem;
  }
  .publis__content__container {
    align-items: center;
    flex-direction: column;
  }
  .publis__ficha__tecnica__container {
    margin-bottom: 3rem;
    width: 100%;
  }

  .publis__divulgacoes__container {
    align-items: center;
    width: 100%;
  }
  .publis__divulgacoes__tipos {
    width: 100%;
  }
}
