<section class="sections__container">
  <div class="publis__header">
    <h1 class="publis__titulo">Publis</h1>
    <div class="publis__conteudo__direito"></div>
  </div>
  <div class="publis__content__container">
    <div class="publis__ficha__tecnica__container">
      <div>
        <h1>Ficha Tecnica</h1>
        <i class="bi bi-heart-arrow"
          ><span><strong>Idade:</strong> 7 anos</span></i
        >
        <i class="bi bi-heart-arrow"
          ><span><strong>Manequim:</strong> 8</span></i
        >
        <i class="bi bi-heart-arrow"
          ><span><strong>Calçado:</strong> 28</span></i
        >
        <i class="bi bi-heart-arrow"
          ><span><strong>Altura:</strong> 1,21m</span></i
        >
        <i class="bi bi-heart-arrow"
          ><span><strong>Peso:</strong> 22 Kg</span></i
        >
        <i class="bi bi-heart-arrow"
          ><span><strong>Cabelo:</strong> Castanho claro</span></i
        >
        <i class="bi bi-heart-arrow"
          ><span><strong>Olhos:</strong> Castanhos</span></i
        >
      </div>
    </div>
    <div class="publis__divulgacoes__container">
      <h1>Como trabalhamos</h1>
      <div class="publis__divulgacoes__tipos">
        <i class="bi bi-reply-all-fill"></i>
        <p>Divulgação</p>
      </div>
      <div class="publis__divulgacoes__tipos">
        <i class="bi bi-reply-all-fill"></i>
        <p>Pacotes semanais</p>
      </div>
      <div class="publis__divulgacoes__tipos">
        <i class="bi bi-reply-all-fill"></i>
        <p>Pacotes mensais</p>
      </div>
      <div class="publis__divulgacoes__tipos">
        <i class="bi bi-reply-all-fill"></i>
        <p>Recebidos</p>
      </div>
      <div class="publis__divulgacoes__tipos">
        <i class="bi bi-reply-all-fill"></i>
        <p>Publipost</p>
      </div>
      <div class="publis__divulgacoes__tipos">
        <i class="bi bi-reply-all-fill"></i>
        <p>Eventos</p>
      </div>
      <div class="publis__divulgacoes__tipos">
        <i class="bi bi-reply-all-fill"></i>
        <p>Permuta</p>
      </div>
    </div>
  </div>
</section>
