.sobre__titulo {
  font-size: 10rem;
  font-family: var(--fonte-titulo);
  color: var(--cor-primaria);
  z-index: 2;
}

.sobre__conteudo {
  width: 100%;
  display: flex;
  align-items: center;
}

.sobre__conteudo__esquerdo {
  width: 40%;
}

.sobre__conteudo__direito {
  height: 2px;
  margin-top: 30px;
  background-color: var(--cor-primaria);
  width: 60%;
}

.sobre__conteudo__texto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.sobre__texto__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.sobre__imagem__container {
  width: 30%;
}
.sobre__texto {
  width: 70%;
  font-size: 1.4rem;
  font-family: var(--fonte-primaria);
  color: var(--cor-primaria);
  padding-bottom: 1rem;
}
.sobre__imagem {
  height: 61vh;
  border-radius: 16px;
}

@media screen and (max-width: 1200px) {
  .sobre__conteudo {
    flex-direction: column;
  }

  .sobre__conteudo__esquerdo {
    width: 100%;

    display: flex;
    justify-content: center;
  }
  .sobre__conteudo__direito {
    width: 100%;
    margin-bottom: 5rem;
  }

  .sobre__conteudo__texto {
    flex-direction: column;
  }
  .sobre__texto__container {
    width: 100%;
  }
  .sobre__texto {
    width: 100%;
  }

  .sobre__imagem__container {
    margin-top: 5rem;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .sobre__titulo {
    font-size: 6rem;
  }
  .sobre__texto {
    font-size: 1.2rem;
  }

  .sobre__imagem {
    height: 50vh;
  }
}

@media screen and (max-width: 390px) {
  .sobre__titulo {
    font-size: 3rem;
  }
}
