<section class="sections__container">
  <div class="sobre__conteudo">
    <div class="sobre__conteudo__esquerdo">
      <span class="sobre__titulo">Sobre</span>
    </div>
    <div class="sobre__conteudo__direito"></div>
  </div>

  <div class="sobre__conteudo__texto">
    <span class="sobre__texto"
      >Desde muito pequena sempre fui muito vaidosa e apaixonada por fotos.
      Conforme fui crescendo, mamãe e papai resolveram investir na minha paixão!
      Sou espontânea, vaidosa e apaixonada por clicks e looks da moda.</span
    >
    <img
      class="sobre__imagem"
      src="./../../../assets/images/sobre 2.jpeg"
      alt="menina de costas com chapeu"
    />
  </div>
</section>
