<section class="sections__container">
  <div class="sobre__conteudo">
    <div class="sobre__conteudo__esquerdo">
      <span class="sobre__titulo">Sobre</span>
    </div>
    <div class="sobre__conteudo__direito"></div>
  </div>

  <div class="sobre__conteudo__texto">
    <div class="sobre__texto__container">
      <span class="sobre__texto"
        >Desde muito pequena sempre fui muito vaidosa e apaixonada por
        fotos.</span
      >
      <span class="sobre__texto">
        Conforme fui crescendo, mamãe e papai resolveram investir na minha
        paixão!
      </span>
      <span class="sobre__texto">
        Alice é modelo e influencer mirim de apenas 7 aninhos, porém suas poses
        e carisma são sua marca registrada.
      </span>
      <span class="sobre__texto">
        Sempre buscando inovação para engajar seu público que ja são mais de 11
        mil seguidores. Seu sonho é ser inspiração de outras modelos mirins.
      </span>
    </div>
    <div class="sobre__imagem__container">
      <img
        class="sobre__imagem"
        src="./../../../assets/images/sobre 2.jpeg"
        alt="menina de costas com chapeu"
      />
    </div>
  </div>
</section>
