<section class="sections__container">
  <div class="estatisticas__conteudo">
    <div class="estatisticas__conteudo__esquerdo"></div>

    <div class="estatisticas__conteudo__meio">
      <span class="estatisticas__titulo">Estatísticas</span>
    </div>
    <div class="estatisticas__conteudo__direito"></div>

    <!-- <div class="estatisticas__conteudo__meio">
      <div class="estatisticas__foto__container">
        <img src="./../../../assets/images/home 1.jpeg" alt="" />
      </div>
    </div>
    <div class="estatisticas__conteudo__direito">
      <span>@alice_olvmartins</span>
      <p>Alice Martins</p>
    </div>
    <div class="hidden"></div> -->
  </div>

  <div class="estatisticas__numeros__container">
    <div class="estatisticas__numeros__wrapper">
      <div class="estatisticas__numeros">
        <div>
          <div>
            <i class="bi bi-gender-female"></i>
          </div>
          <span>Mulheres</span>
          <span>72.6%</span>
        </div>
        <div>
          <div>
            <i class="bi bi-gender-male"></i>
          </div>
          <span>Homens</span>
          <span>27.3%</span>
        </div>
        <div>
          <div>
            <i class="bi bi-house-heart-fill"></i>
          </div>
          <span>Localização</span>
          <span>Santo André - SP</span>
        </div>
      </div>
      <div class="estatisticas__numeros">
        <div>
          <div>
            <i class="bi bi-person-hearts"></i>
          </div>
          <span>Seguidores</span>
          <span>12,4K</span>
        </div>
        <div>
          <div>
            <i class="bi bi-graph-up-arrow"></i>
          </div>
          <span>Alcance</span>
          <span>+83K</span>
        </div>
        <div>
          <div>
            <i class="bi bi-text-right rotate"></i>
          </div>
          <span>Impressões</span>
          <span>+206K</span>
        </div>
      </div>
    </div>

    <div class="estatisticas__celular__foto">
      <div class="estatisticas__celular">
        <div>
          <div></div>
        </div>
        <img src="./../../../assets/images/trabalhos 1.jpeg" alt="" />
      </div>
    </div>
  </div>
</section>
