.estatisticas__titulo {
  font-size: 10rem;
  font-family: var(--fonte-titulo);
  color: var(--cor-primaria);
  z-index: 2;
}

.estatisticas__conteudo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.estatisticas__conteudo__esquerdo,
.estatisticas__conteudo__direito {
  height: 2px;
  background-color: var(--cor-primaria);
  width: 20%;
}

.estatisticas__conteudo__meio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  gap: 0.3rem;
}

.estatisticas__conteudo__direito > p {
  font-family: var(--fonte-primaria);
  color: var(--cor-primaria);
}

.estatisticas__foto__container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.estatisticas__foto__container > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.estatisticas__numeros__container {
  width: 100%;
  display: flex;
  padding-top: 4rem;
}

.estatisticas__numeros__wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 0 10rem 0 0;
}
.estatisticas__numeros {
  width: 100%;
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 16px;
      background-color: var(--cor-secundaria);

      .rotate {
        transform: rotate(90deg);
      }

      > i {
        color: var(--cor-primaria);
        font-size: 30px;
      }
    }

    > span {
      color: var(--cor-primaria);
      font-family: var(--fonte-primaria);
    }

    > p {
      color: var(--cor-primaria);
      font-family: var(--fonte-primaria);
      margin-bottom: 2rem;
    }
  }
}

.estatisticas__celular__foto {
  width: 40%;
  display: flex;
}
.estatisticas__celular {
  width: 200px;
  height: 50vh;
  border: 2px solid var(--cor-primaria);
  border-radius: 16px;
  transform: rotate(16deg);

  > div {
    width: 40%;
    height: 23px;
    background-color: #fff;
    border-radius: 8px;
    position: absolute;
    right: 30%;
  }
  > div > div {
    width: 40%;
    height: 2px;
    background-color: var(--cor-primaria);
    position: absolute;
    top: 60%;
    left: 30%;
  }
}

.estatisticas__celular > img {
  width: 100%;
  height: 100%;
  border: 10px solid #fff;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}
@media screen and (max-width: 1200px) {
  .estatisticas__conteudo {
    flex-direction: column;
  }
  .estatisticas__conteudo__esquerdo {
    display: none;
  }
  .estatisticas__conteudo__meio {
    width: 100%;
    align-items: center;
  }
  .estatisticas__conteudo__direito {
    width: 100%;
  }
  .estatisticas__numeros__container {
    padding-bottom: 5rem;
    flex-direction: column;
  }

  .estatisticas__numeros__wrapper {
    padding: 0;
    width: 100%;
    gap: 2rem;
    margin-bottom: 3rem;
  }
  .estatisticas__celular__foto {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .estatisticas__titulo {
    font-size: 6rem;
  }

  .estatisticas__conteudo__direito {
    width: 100%;
    align-items: center;
    flex-direction: column-reverse;
  }

  .estatisticas__numeros__container {
    flex-direction: column;
    padding-top: 2rem;
  }

  .estatisticas__celular__foto {
    justify-content: center;
    width: 100%;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .estatisticas__numeros > div {
    > div {
      width: 40px;
      height: 40px;
      > i {
        font-size: 20px;
      }
    }
    > span {
      font-size: 12px;
    }
  }
}
