<section class="sections__container">
  <div class="estatisticas__conteudo">
    <div class="estatisticas__conteudo__esquerdo"></div>

    <div class="estatisticas__conteudo__meio">
      <div class="estatisticas__foto__container">
        <img src="./../../../assets/images/home 1.jpeg" alt="" />
      </div>
    </div>
    <div class="estatisticas__conteudo__direito">
      <span>@alice_olvmartins</span>
      <p>Alice Martins</p>
    </div>
    <div class="hidden"></div>
  </div>

  <div class="estatisticas__numeros__container">
    <div class="estatisticas__numeros">
      <span>10,5K</span>
      <p>Seguidores</p>
      <span>1k</span>
      <p>Interações mensais</p>
      <span>+10k</span>
      <p>Visualizações</p>
    </div>

    <div class="estatisticas__celular__foto">
      <div class="estatisticas__celular">
        <div>
          <div></div>
        </div>
        <img src="./../../../assets/images/trabalhos 1.jpeg" alt="" />
      </div>
    </div>
  </div>
</section>
