.trabalhos__titulo {
  font-size: 10rem;
  font-family: var(--fonte-titulo);
  color: var(--cor-primaria);
  z-index: 2;
}

.trabalhos__conteudo {
  width: 100%;
  display: flex;
  align-items: center;
}

.trabalhos__conteudo__esquerdo {
  height: 2px;
  margin-top: 30px;
  background-color: var(--cor-primaria);
  width: 40%;
}

.trabalhos__conteudo__direito {
  display: flex;
  justify-content: center;
  width: 60%;
}

.trabalhos__conteudo__texto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.trabalhos__imagem__container {
  width: 40%;
  display: flex;
  justify-content: center;
}
.trabalhos__textos__container {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.trabalhos__texto {
  font-size: 1.8rem;
  font-family: var(--fonte-primaria);
  color: var(--cor-primaria);
}
.trabalhos__imagem {
  height: 61vh;
  border-radius: 16px;
}

@media screen and (max-width: 1200px) {
  .trabalhos__conteudo {
    flex-direction: column-reverse;
  }

  .trabalhos__conteudo__esquerdo {
    width: 100%;
    margin-bottom: 5rem;
  }
  .trabalhos__conteudo__direito {
    width: 100%;
  }

  .trabalhos__conteudo__texto {
    flex-direction: column-reverse;
  }

  .trabalhos__imagem__container {
    width: 100%;
  }

  .trabalhos__textos__container {
    width: 100%;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .trabalhos__titulo {
    font-size: 8rem;
  }

  .trabalhos__texto {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 390px) {
  .trabalhos__titulo {
    font-size: 6rem;
  }
}
