<section class="sections__container">
  <div class="trabalhos__conteudo">
    <div class="trabalhos__conteudo__esquerdo"></div>
    <div class="trabalhos__conteudo__direito">
      <span class="trabalhos__titulo">Trabalhos</span>
    </div>
  </div>

  <div class="trabalhos__conteudo__texto">
    <div class="trabalhos__imagem__container">
      <img
        class="trabalhos__imagem"
        src="./../../../assets/images/sobre 4.jpeg"
        alt="menina de costas com chapeu"
      />
    </div>
    <div class="trabalhos__textos__container">
      <span class="trabalhos__texto"
        >Já realizei trabalhos com marcas infantis de roupas e acessórios como
        5M Kids, Sapeka Kids, Nininha Laços de Amor, Biju Kids, entre
        outras.</span
      >
      <span class="trabalhos__texto"
        >Meu trabalho nas redes sociais é mostrar o uso de roupas e acessórios
        de forma leve, descontraída e com muito estilo.</span
      >
    </div>
  </div>
</section>
