<section class="sections__container">
  <div class="trabalhos__conteudo">
    <div class="trabalhos__conteudo__esquerdo"></div>
    <div class="trabalhos__conteudo__direito">
      <span class="trabalhos__titulo">Trabalhos</span>
    </div>
  </div>

  <div class="trabalhos__conteudo__texto">
    <div class="trabalhos__imagem__container">
      <img
        class="trabalhos__imagem"
        src="./../../../assets/images/sobre 4.jpeg"
        alt="menina de costas com chapeu"
      />
    </div>
    <div class="trabalhos__textos__container">
      <span class="trabalhos__texto"
        >Meu trabalho nas redes sociais é mostrar o uso de roupas, calçados,
        brinquedos, guloseimas, acessórios e tudo relacionado ao universo
        infantil de forma leve, descontraída e com muito estilo.</span
      >
      <span class="trabalhos__texto"
        >Algumas marcas e lojas que já trabalharam com a gente!</span
      >

      <div class="trabalhos__logos__container d-none">
        <div class="trabalhos__logo__wrapper">
          <a href="https://www.instagram.com/5mkids/" target="_blank">
            <img src="./../../../assets/images/5mKids.png" alt="" />
          </a>
        </div>
        <div class="trabalhos__logo__wrapper">
          <a href="https://www.instagram.com/bijukids_ofc/" target="_blank">
            <img src="./../../../assets/images/bijuKids.png" alt="" />
          </a>
        </div>
        <div class="trabalhos__logo__wrapper">
          <a href="https://www.instagram.com/jeitinhodedivas/" target="_blank">
            <img src="./../../../assets/images/jeitinhoDivas.png" alt="" />
          </a>
        </div>
        <div class="trabalhos__logo__wrapper">
          <a
            href="https://www.instagram.com/nininha_lacosdeamor/"
            target="_blank"
          >
            <img src="./../../../assets/images/lacosAmor.png" alt="" />
          </a>
        </div>
        <div class="trabalhos__logo__wrapper">
          <a href="https://www.instagram.com/oticas_verao/" target="_blank">
            <img src="./../../../assets/images/oticasVerao.png" alt="" />
          </a>
        </div>
        <div class="trabalhos__logo__wrapper">
          <a href="https://www.instagram.com/sapekakids01/" target="_blank">
            <img src="./../../../assets/images/sapekaKids.png" alt="" />
          </a>
        </div>
      </div>

      <div class="trabalhos__logos__container d-block">
        <div class="trabalhos__logo__wrapper">
          <a href="https://www.instagram.com/5mkids/" target="_blank">
            <img src="./../../../assets/images/5mKids.png" alt="" />
          </a>
        </div>
        <div class="trabalhos__logo__wrapper">
          <a href="https://www.instagram.com/bijukids_ofc/" target="_blank">
            <img src="./../../../assets/images/bijuKids.png" alt="" />
          </a>
        </div>
        <div class="trabalhos__logo__wrapper">
          <a href="https://www.instagram.com/jeitinhodedivas/" target="_blank">
            <img src="./../../../assets/images/jeitinhoDivas.png" alt="" />
          </a>
        </div>
      </div>
      <div class="trabalhos__logos__container d-block">
        <div class="trabalhos__logo__wrapper">
          <a
            href="https://www.instagram.com/nininha_lacosdeamor/"
            target="_blank"
          >
            <img src="./../../../assets/images/lacosAmor.png" alt="" />
          </a>
        </div>
        <div class="trabalhos__logo__wrapper">
          <a href="https://www.instagram.com/oticas_verao/" target="_blank">
            <img src="./../../../assets/images/oticasVerao.png" alt="" />
          </a>
        </div>
        <div class="trabalhos__logo__wrapper">
          <a href="https://www.instagram.com/sapekakids01/" target="_blank">
            <img src="./../../../assets/images/sapekaKids.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
